* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    background: #5f5f5f;
}

#gameCanvas {
    border: Spx solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: blue;
}